@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap");

body {
	font-family: "Nunito", sans-serif;
}

.store-container {
	height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f6f7f8;
	padding: 0 2rem;
}

.store-container .product {
	flex: 1;
	max-height: 70vh;
	position: relative;
	overflow-y: scroll;
	margin-right: 2%;
}

.store-container .product-image {
	height: 100px;
	width: 100px;
}

.store-container .cart {
	flex: 1;
	position: relative;
}

.store-container .cart .card-body {
	overflow-y: scroll;
	max-height: 70vh;
	height: 100%;
}

.store-container .cart .product-image {
	height: 50px;
	width: 50px;
}

.store-container .cart .product-title {
	font-size: 0.8em !important;
}

@media screen and (max-width: 768px) {
	.store-container .product {
		width: 90%;
	}

	.store-container .product-image {
		height: 50px;
		width: 50px;
		margin-left: 0px !important;
	}
	.store-container .product-title {
		font-size: 1em !important;
	}
}
